@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: white;
}

.card {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 60%;
  background-color: #ffffff;
  padding: 10px 20px;
  margin: 22px;
}

.card_title {
  text-align: center;
  padding: 10px;
  margin: 10px 0 10px 0;
}

.card_title h3 {
  font-size: 26px;
  font-weight: 500;
}

.form input {
  margin: 10px 0;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}

.form button {
  background-color: red;
  color: #ffffff;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 8px 15px;
  width: 100%;
  margin: 10px 0 10px 0;
}

.card_terms {
  display: flex;
  align-items: center;
  margin: 10px 0 10px 0;
}

.card_terms input[type="checkbox"] {
  background-color: #e2e2e2;
}

.card_terms span {
  margin: 5px;
  font-size: 13px;
}

.card a {
  color: red;
  text-decoration: none;
}

@media screen and (min-width: 700px) {
  .card {
    max-width: 23%;
  }
}
